<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SmtpServer" value="smtp.example.com" />
		<add key="SmtpPort" value="587" />
		<add key="SenderEmail" value="your-email@example.com" />
		<add key="SenderPassword" value="your-email-password" />
		<add key="RecipientEmail" value="recipient@example.com" />
	</appSettings>
</configuration>
