<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SmtpServer" value="smtp.office365.com" />
		<add key="SmtpPort" value="587" />
		<add key="SenderEmail" value="sendor@example.com" />
		<add key="senderName" value="Sender Name" />
		<add key="appPassword" value="app password" />
		<add key="RecipientEmail" value="recipient@example.com" /> <!--not in use-->
		<add key="ccEmail" value="cc@example.com" />
		<add key="bccEmail" value="bcc@example.com" />
		<add key="connectionString" value="User Id=username;Password=pass;Data Source=oracle datasoruce" />
		<add key="ora_email_qry" value="select 'email' recipient_email,'alert email subject'email_subject,'' email_body from sample_table" />
	</appSettings>
</configuration>
