<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SmtpServer" value="smtp.office365.com" />
		<add key="SmtpPort" value="587" />
		<add key="SenderEmail" value="binod.mehta@nabilbank.com" />
		<add key="senderName" value="NPA Mgmt" />
		<add key="appPassword" value="qztchrfwfvddblxh" />
		<add key="RecipientEmail" value="recipient@example.com" /> <!--not in use-->
		<add key="ccEmail" value="sahen.manandhar@nabilbank.com" />
		<add key="bccEmail" value="mehtabinod2012@gmail.com" />
		<add key="connectionString" value="User Id=mis_ias;Password=nabil;Data Source=10.0.5.63:1521/MIS19C" />
		<add key="ora_email_qry" value="select 'jim.karki@nabilbank.com' recipient_email,'Nabil Loan Due Alert'email_subject,EMAIL_CONTENT email_body from alde@mis_fin10" />
	</appSettings>
</configuration>
